@import "tailwindcss";

@theme {
  --color-background: rgb(233, 227, 223);
  --color-primary: rgb(255, 122, 48);
  --color-primary-hover: rgb(235, 102, 28);
  --color-secondary: rgb(70, 92, 136);
  --color-text-main: rgb(0, 0, 0);
  --color-surface: rgb(255, 255, 255);

  --font-sans: "Inter", system-ui, sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text-main);
    font-family: var(--font-sans);
  }
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}